.navbar {
	border: none;
	border-width: 0;
	position: fixed;
	z-index: 99;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	background-color: transparent;
}

.icon {
	margin-right: 0.75rem;
	margin-top: 0.4rem;
}
